html {
	height: 100%;	
}
body {
	height: 100%;
	min-width: 1200px;
	margin: 0;
	font: normal 1em 'elektra_light_proregular';
}
a img {
    border: none; /* Убираем рамку */
   }
/* общие классы */
.container {
	width: 1000px;
	margin: 0 auto;
}

/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
  clear: both;	
}
/* clearfix - конец */
/* общие классы - конец */

/* прибьём футер к низу*/
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 1010px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 228px;
	display: block;
}
.page-footer{
	height: 228px;
	margin-top: -228px;	
}
/* прибьём футер к низу - конец*/

/*Блок соц иконок*/
.socials{
	position: relative;
	top: 2px;
	margin: 0;
	padding: 0;
	max-width: 260px;
	display: inline-block;
}
.socials .socials-item {
  list-style: none;
  display: inline-block;
  margin-left: 1px;
  /* Отступ у таких элементов всегда слева */
}
.socials .socials-item:first-child {
  margin-left: 0;
  /* А у первого элемента обнуляем отступ */
}
.socials .socials-item:hover {opacity: 0.8}
.socials .socials-link__img-top {
	height: 25px;
	width: 25px; 
}
.socials .socials-link__img-footer {
	height: 40px;
	width: 40px; 
	margin-left: 6px;
}
/*Header-top*/
.page-header_top {
	background: #42606d;
	padding: 5px 0;
}
.header_top-container {
	width: 1000px;
}
.top-adress {
	display: inline-block;
	position: relative;
	margin-left: 289px;
}
.top-adress__adress {
	position: relative;
	top: -5px;
	margin-left: 10px;
	font-family: 'elektra_light_proregular';
	color: white;
	font-size: 13px;	
}
.top-phone {
	position: relative;
	display: inline-block;
	float: right;
	top: 3px;
}
.top-phone__link {
	text-decoration: none;
	}
.top-phone__link_prefix {
	color: #1b96c4;
	font-family: 'elektra_medium_proregular';
	font-size: 20px;
}
.top-phone__link_sufix {
	font-family: 'elektra_light_proregular';
	color: white;
	font-size: 25px;
	margin-left: 10px;
}

/*HEader main*/
.page-header-main{
	background: #dbe4f0;
	padding: 10px;
	height: 77px;
}

.logo-main {
	position: absolute;
	display: block;
	float: left;
	top: 64px;
}
.form-finder_wrapper {
  position: relative;
  display: inline-block;
  left: 43px;
  top: -29px;
}
.form-finder {
  position: absolute;
  display: block;
  top: 36px;
  left: 216px;
}
.input__finder {
	width: 253px;
	height: 34px;
	color: #879eb4;
	background-color: #fff;
	border: 1px solid #879eb4;
	padding-left: 5px;
}
.btn__finder {
	  position: absolute;
  left: 270px;
  top: 0px;
	height: 38px;
	width: 80px;
	margin-left: -11px;
	background: #00b9fe;
	border: none;
	padding: 0;
	color: white;
}
.main-list {
	position: relative;
	float: right;
	display: inline-block;
}
.main-list__item {
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;
}
.main-list__item.basket {
	display: inline-block;
	margin-left: 41px;
	font-size: 13px;
}
.main-list__item:first-child {margin-left: 0;}
.main-links {
	color: #00b9fe;
}
.main-links__basket {
	color: #3d5f7f;
	margin-left: 5px;
}
.basket_wrapper {
	padding: 12px;
}


/*Стили корзины*/
.basket_list {
	position: absolute;
	z-index: 5;
	right: 0px;
	background: #ffffff;
	display: none;
	list-style:none;
	width: 225px;
	padding: 5px;
	border: 1px solid #e5e7e8;
}
#basket:hover .basket_wrapper {background: #ffffff;}
#basket:hover .basket_list {display: block;}

.basket_item {
	display: inline-flex;
	position: relative;
	margin-bottom: 10px;
	  padding: 12px 0;
}
.basket_item.twice {
	background: #ecf1f4;
}

.bascet-img__wrapper {
	position: relative;
	float: left;
	width: 60px;
}
.bascet-link__wrapper {
	position: relative;
	float: right;
	width: 150px;
	margin-left: 20px;
	padding-top: 10px;
}
	
.basket_item__img {
	position: relative;
	display: block;
	margin: 0 auto;

}
.basket_item__link {
	position: relative;
	display: block;
 color: #00b9fe;
 font-size: 12px;
}
/*Header-bottom*/
.page-header_bottom {
	background: #f9fafb;
	height: 40px;
	  margin-bottom: 20px;
	  border-bottom: 2px solid #e3e3e3;
}
.navigation-footer {
padding: 0;
margin: 0;
}
.navigation-list {
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 1015px; 

}
.navigation-item {
	display: inline-block;
	position: relative;
	height: 40px;
	overflow: hidden;
	margin-left: -18px;
}
.navigation-item:first-child {margin-left: 0}
.navigation-item.current .nav-link__img__current{
	display: block;
	z-index: 1;
}
.navigation-item.current .nav-link__img{
	display: none;

}
/*.navigation-item.current:hover .nav-link__hover{
	display: none;

}
.navigation-item.current:hover .nav-link__img__current{
	display: none;

}
.navigation-item.current:hover .nav-link__img{
	display: none;
}*/

.navigation-item:hover .nav-link__img__hover{
	display: block;
}
.navigation-item:hover .nav-link__img{
	display: none;
}

.navigation-link {
	text-decoration: none;
}

.nav-link__img {
	position: relative;
	display: block;
}
.nav-link__img__current {
	position: relative;
	display: none;
}
.nav-link__img__hover {
	position: relative;
	display: none;	
}
.nav-item__text {
	position: absolute;
	left: -9999px;
}

.page-footer {
	background: url(../img/title_footer.png) repeat;
}
.footer-logo {
	display: inline-block;
	position: relative;
	float: left;
	top: 96px;

}
.footer__logo-text {
	position: absolute;
	left: -9999px;
}
.footer-nav {
	position: relative;
	display: inline-block;
	top: 45px;
	margin-left: 80px;
}
.navigation-footer_about {
	position: relative;
	display: inline-block;

	margin-left: 20px;
}

.navigation-footer_about:first-child {margin-left: 0;}

.footer-socials {
	display: inline-block;
	position: relative;
	float: right;
	top: 74px;
}

.foter-appstore {
margin-bottom: 18px;

}

.navigation-footer-item {
	list-style: none;
	line-height: 1.6;
}
.navigation-footer-item:hover {opacity: 0.5;}

.footer_about__header {
	color: white;
	font-family: 'elektra_medium_proregular';
	margin-bottom: 3px;
}
.navigation-footer-link {
	color: white;
	line-height: 1.5;
}