html {
	height: 100%;	
}
body {
	height: 100%;
	min-width: 1200px;
	margin: 0;
	font: normal 1em 'elektra_light_proregular';
}
/* общие классы */
.container {
	width: 1000px;
	margin: 0 auto;
}

/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
  clear: both;	
}
/* clearfix - конец */
/* общие классы - конец */

/* прибьём футер к низу*/
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 1010px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 228px;
	display: block;
}
.page-footer{
	height: 228px;
	margin-top: -228px;	
}
/* прибьём футер к низу - конец*/

/*Блок соц иконок*/
.socials{
	position: relative;
	top: 2px;
	margin: 0;
	padding: 0;
	max-width: 260px;
	display: inline-block;
}
.socials .socials-item {
  list-style: none;
  display: inline-block;
  margin-left: 7px;
  /* Отступ у таких элементов всегда слева */
}
.socials .socials-item:first-child {
  margin-left: 0;
  /* А у первого элемента обнуляем отступ */
}
.socials .socials-link__img-top {
	height: 25px;
	width: 25px; 
}
.socials .socials-link__img-footer {
	height: 45px;
	width: 45px; 
}

/*Header-top*/
.page-header_top {
	background: #42606d;
	padding: 5px 0;
}
.header_top-container {
	width: 1000px;
}
.top-adress {
	display: inline-block;
	position: relative;
	margin-left: 240px;
}
.top-adress__adress {
	position: relative;
	top: -5px;
	margin-left: 10px;
	font-family: 'elektra_medium_proregular';
	color: white;
	font-size: 15px;	
}
.top-phone {
	position: relative;
	display: inline-block;
	float: right;
	top: 3px;
}
.top-phone__link {
	text-decoration: none;
	}
.top-phone__link_prefix {
	color: #1b96c4;
	font-family: 'elektra_medium_proregular';
	font-size: 20px;
}
.top-phone__link_sufix {
	font-family: 'elektra_light_proregular';
	color: white;
	font-size: 25px;
	margin-left: 10px;
}

/*HEader main*/
.page-header-main{
	background: #dbe4f0;
	padding: 10px;
	height: 88px;
}

.logo-main {
	position: relative;
	display: inline-block;
	float: left;
	top: 20px;
}
.form-finder {
	position: relative;
	display: inline-block;
	top: 12px;
	margin-left: 20px;
}
.input__finder {
	width: 253px;
	height: 34px;
	color: #879eb4;
	background-color: #fff;
	border: 1px solid #879eb4;
	padding-left: 5px;
}
.btn__finder {
	height: 38px;
	width: 80px;
	margin-left: -10px;
	background: #00b9fe;
	border: none;
	padding: 0;
	color: white;
}
.main-list {
	position: relative;
	float: right;
	display: inline-block;
	top: 15px;
}
.main-list__item {
	display: inline-block;
	margin-left: 15px;
}
.main-list__item:first-child {margin-left: 0;}
.main-links {
	color: #00b9fe;
}
.main-links__basket {
	color: #3d5f7f;
	margin-left: 5px;
}

.basket_list {
	position: absolute;
	z-index: 5;
	background: #ffffff;
	display: none;
	list-style:none;
	width: 246px;
}
#basket:hover .basket_list {display: block;}

/*Header-bottom*/
.page-header_bottom {
	background: #f9fafb;
	height: 40px;
	  margin-bottom: 20px;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.75);
}
.navigation-footer {

}
.navigation-list {
	position: relative;
	margin: 0;
	padding: 0;

}
.navigation-item {
	display: inline-block;
	position: relative;
	height: 40px;
	overflow: hidden;
	margin-left: -18px;
}
.navigation-item:first-child {margin-left: 0}
.navigation-item.current .nav-link__img__current{
	display: block;
	z-index: 1;
}
.navigation-item.current .nav-link__img{
	display: none;

}
/*.navigation-item.current:hover .nav-link__hover{
	display: none;

}
.navigation-item.current:hover .nav-link__img__current{
	display: none;

}
.navigation-item.current:hover .nav-link__img{
	display: none;
}*/

.navigation-item:hover .nav-link__img__hover{
	display: block;
}
.navigation-item:hover .nav-link__img{
	display: none;
}

.navigation-link {
	text-decoration: none;
}

.nav-link__img {
	position: relative;
	display: block;
}
.nav-link__img__current {
	position: relative;
	display: none;
}
.nav-link__img__hover {
	position: relative;
	display: none;	
}
.nav-item__text {
	position: absolute;
	left: -9999px;
}

.page-footer {
	background: url(../img/title_footer.png) repeat;
}
.footer-logo {
	display: inline-block;
	position: relative;
	float: left;
	top: 94px;

}
.footer-nav {
	position: relative;
	display: inline-block;
	top: 45px;
	margin-left: 55px;
}
.navigation-footer_about {
	position: relative;
	display: inline-block;

	margin-left: 20px;
}

.footer-socials {
	display: inline-block;
	position: relative;
	float: right;
	top: 75px;
}

.foter-appstore {
margin-bottom: 10px;

}

.navigation-footer-item {
	list-style: none;

}
.footer_about__header {
	color: white;
	font-family: 'elektra_medium_proregular';
}
.navigation-footer-link {
	color: white;
	line-height: 1.5;
}