footer.page-footer  
  .container.clearfix
    div.footer-logo
      a.footer-logo__link(href="#")
        img.footer-logo__img(src="img/logo_w.png")
        .footer__logo-text ЭпплShop
    div.footer-nav
      include footer-nav_about.jade
      include footer-nav_catalog.jade
      include footer-nav_contacts.jade
    div.footer-socials
      .foter-appstore
        a.foter-appstore__link(href="http://appstore.com", target="_blank")
          img.appstore(src="img/appstore.png")
        a.foter-appstore__link(href="https://play.google.com", target="_blank")
          img.googleplay(src="img/gplay.png")
       ul.socials
        li.socials-item
          a.socials-item__socials-link(href="https://vk.com/id22662543", target="_blank")
            img.socials-link__img-footer(src="img/vk.png")
        li.socials-item
          a.socials-item__socials-link(href="https://fb.com/loftschool", target="_blank")
            img.socials-link__img-footer(src="img/fb.png")
        li.socials-item
          a.socials-item__socials-link(href="https://twitter.com/loftschool", target="_blank")
            img.socials-link__img-footer(src="img/tw.png")
  <!-- build:js js/to_top.min.js -->
  script(src="js/to_top.js")
  <!-- endbuild -->
  <!-- build:js js/slider.min.js -->
  script(src="js/product_slider.js")
  <!-- endbuild -->