head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title dz1_03-2015
  
  meta(name="description", content="loftschool_homework_2")
  meta(name="keywords", content="loftschool_homework_")
  meta(name="author", content="Viktor Kurochkin") 

  link(rel='shortcut icon', href='/img/favicon.ico', type="image/x-icon")
  link(rel='icon', href='/img/favicon.ico', type="image/x-icon")
  
  <!-- build:css css/vendor.min.css -->
  // bower:css
  link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
  // endbower 
  <!-- endbuild -->
  
  <!-- build:css fonts/fonts.min.css -->
  link(rel="stylesheet", href="css/fonts/fonts.css")
  <!-- endbuild -->

  <!-- build:css css/main.min.css -->
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/product.css") 
  <!-- endbuild -->

  <!-- build:js js/modernizr.min.js -->
  script(src="bower/modernizr/modernizr.js")
  <!-- endbuild -->
  <!-- build:js js/jquery.min.js -->
  script(src="bower/jquery/dist/jquery.js")
  <!-- endbuild -->